<td class="book-star" data-score="<%= book.rate %>"></td>
<!--<div id="star-rate-<=%= book.id %>"></div>-->
<!--<script>-->
<!--  $('#star-rate-<=%= book.id %>').raty({-->
<!--  size: 36,-->
<!--  starOff:  '<=%= asset_path('star-off.png') %>',-->
<!--  starOn : '<=%= asset_path('star-on.png') %>',-->
<!--  starHalf: '<=%= asset_path('star-half.png') %>',-->
<!--  half: true,-->
<!--  readOnly: true,-->
<!--  score: <=%= book.rate %>,-->
<!--  });-->
<!--</script>  -->

<script>
  $('.book-star').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>