<td class="book-star" data-score="<%= book.rate %>"></td>
<script>
  $('.book-star').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>